.youtube-wrapper {
  display: inline-block;
  width: 210px;
  box-sizing: border-box;
  margin-right: 12px;
  box-shadow: 1px 0 1px 1px black;
  margin: 5px;
}
.img-thumb {
  width: 100%;
  height: 110px;
  overflow: hidden;
  position: relative;
}
.img-thumb img {
  width: 100%;
}
p.title {
  font-size: large;
  font-weight: 700;
  display: inline;
  margin-left: 10px auto;
  margin-right: 10px auto;
}
p.desc {
  opacity: 0.8;
  font-size: medium;
}
p.time {
  z-index: 10;
  display: inline-block;
  position: absolute;
  background: black;
  color: white;
  bottom: 4px;
  right: 6px;
  padding: 5px;
  margin: 0;
  border-radius: 4px;
  font-size: 12px;
}
